* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Clases utilitarias */
.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.title {
    font-size: 2em;
    color: rgb(51, 51, 51);
}

header {
    background-color: black;
    padding: 0 50px;
    color: #FFF;
    height: 80px;
}

.nav {
    justify-content: space-between;
    height: 100%;
}

.menu {
    height: 100%;
    align-items: center;
}

.logo {
    margin-right: 20px;
    color: #FFF;
    font-size: 20px;
}

.menu__expanded {
    display: none;
}

.menu__item {
    margin: 0 10px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu__item a {
    color: #FFF;
}

.menu__item button {
    background-color: transparent;
    border: none;
    color: #FFF;
}

.menu__expanded {
    position: absolute;
    background-color: rgb(230, 230, 230);
    padding: 10px 20px;
    left: -12px;
    top: 80px;
    width: 275px;
}

.menu__expanded li {
    padding: 10px;
    border-bottom: solid 1px rgb(121, 121, 121);
}

.menu__item button, .menu__item a {
    padding: 10px 20px;
    font-size: .85em;
}

.menu__item button:hover, .menu__item a:hover {
    background-color: rgb(71, 71, 71);
    border-radius: 20px;
}

.menu__item:hover > .menu__expanded {
    display: block;
}

.menu__expanded a:hover, .menu__expanded button:hover {
    background-color: transparent;
}


.banner {
    width: 100%;
    height: 500px;
    position: relative;
}

.banner__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services {
    width: 450px;
    background: white;
    padding: 50px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
}

.features {
    padding: 20px 50px;
}

.feat {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.feat__column {
    width: 48%;
}

.feat__image {
    width: 100%;
}

.feat__title {
    margin: 20px 0 15px 0;
    font-weight: 700;
}

.feat__paragraph {
    font-weight: 300;
}

.feat__anchors a {
    font-size: .9em;
    color: rgb(51, 51, 51);
    margin-right: 10px;
    text-decoration: underline;
}